In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/Housing_Data.csv"
housing_df = pd.read_csv(csv_file)
housing_df.describe()

,id,price,sqfeet,beds,baths,cats_allowed,dogs_allowed,smoking_allowed,wheelchair_access,electric_vehicle_charge,comes_furnished,lat,long
count,9.574000e+03,9574.00000,9574.000000,9574.00000,9574.000000,9574.000000,9574.000000,9574.000000,9574.000000,9574.000000,9574.000000,9550.000000,9550.000000
mean,7.048529e+09,2331.28755,955.701901,1.90516,1.414978,0.700125,0.655734,0.522352,0.147692,0.063192,0.045331,40.120321,-111.725241
std,3.208359e+06,2967.23392,1035.242355,15.90128,1.213726,0.458227,0.475153,0.499526,0.354813,0.243321,0.208040,5.499889,16.392250
min,7.032491e+09,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.346200,-124.164000
25%,7.047598e+09,1600.00000,693.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.974800,-122.265000
50%,7.049839e+09,2040.00000,872.000000,2.00000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,40.642250,-121.857000
75%,7.050197e+09,2695.00000,1100.000000,2.00000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,47.203800,-116.967000
max,7.051291e+09,250000.00000,92037.000000,1100.00000,75.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,48.787900,-72.841000

In [3]:
csv_file = "Resources/Data_Analyst.csv"
DA_df = pd.read_csv(csv_file)
DA_df.describe()

        Unnamed: 0      Rating      Founded
count   651.000000  651.000000   651.000000
mean    830.047619    3.144700  1400.437788
std     733.382993    1.733413   901.380079
min       0.000000   -1.000000    -1.000000
25%     194.000000    3.200000    -1.000000
50%     739.000000    3.700000  1983.000000
75%    1297.500000    4.000000  2004.000000
max    2148.000000    5.000000  2018.000000